@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');

.font {
    font-family: "Joti One";
    font-weight: 400;
    font-style: normal;
}

.mainheader {
    background-image: linear-gradient(to bottom right, #FF0000, #FFA500);
}

.mainsubheader {
    background-image: linear-gradient(to bottom right, #FF7A60, #FFA500);
}

.body-background {
    background-image: linear-gradient(to bottom right, #FF7A60, #FFA500);
}

.body-sub-background {
    background-color: #FF7A60;
}

.content-background {
    background-image: linear-gradient(to bottom, #EEB764, #FFF5E6);
}

.button-color{
    background-image: linear-gradient(to right, #FF0000, #000000);
    color: white;
    border: none;
}

.button-color :hover{
    background-image: linear-gradient(to right, #000000, #FF0000);
    color: white;
    border: none;
}

.input{
    border: none;
}

.table-main-heading{
    color: #000000;
}

.tablerow{
    background-color: #FF0000;
}

.custom-th{
    background-image: linear-gradient(to right, #FF0000, #000000);
}

.btn-align{
    transform: translateY(-10px);
}


.custom-align{
    position: absolute;
    bottom: 20px;
}
.custom-align-check{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.custom-align-qty{
    position: absolute;
    bottom: 50px;
}
